bcrypt==3.1.3
blinker==1.4
cffi==1.10.0
click==6.7
Django==1.11
Flask==0.12.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
peewee==2.9.2
pycparser==2.17
pygame==1.9.2
Pygbutton==0.9.0
pytz==2017.2
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.12.1
WTForms==2.1
