{% extends 'feed.html' %}

{% block content %}
<div id="userFeed">
    <div id="content3" class="content">
        <h1>{{user.username}}</h1>
        <div class="postHeadSec">
            <h5>Posts</h5>
            <p>{{user.posts.count()}}</p>
        </div>
        <div class="postHeadSec">
            <h5>Followers</h5>
            <p>{{user.followers().count()}}</p>
        </div>
        <div class="postHeadSec">
            <h5>Following</h5>
            <p>{{user.following().count()}}</p>
        </div>
        {% if current_user.is_authenticated %}
            {% if user != current_user %}
                {% if not user in current_user.following() %}
                    <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
                {% else %}
                    <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {{ super() }}
</div>
{% endblock %}
